.frame {
  display: flex;
  height: 713px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  min-width: 627px;
}

.frame .div {
  display: inline-flex;
  flex-direction: column;
  height: 618px;
  align-items: flex-end;
  justify-content: center;
  gap: 23px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper {
  position: relative;
  width: 483px;
  height: 37px;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: var(--gray-1);
  font-size: 35px;
  letter-spacing: 0;
  line-height: 44px;
  white-space: nowrap;
}

.frame .p {
  position: relative;
  width: 483px;
  height: 66px;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: var(--gray-1);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 29px;
}

.frame .relacin-laboral {
  display: flex;
  flex-direction: column;
  width: 483px;
  height: 206px;
  align-items: flex-start;
  gap: 5px;
  position: relative;
}

.frame .text-wrapper-2 {
  position: relative;
  width: 470px;
  height: 25px;
  margin-top: -1px;
  font-family: var(--common-body2-medium-font-family);
  font-weight: var(--common-body2-medium-font-weight);
  color: #666666;
  font-size: var(--common-body2-medium-font-size);
  letter-spacing: var(--common-body2-medium-letter-spacing);
  line-height: var(--common-body2-medium-line-height);
  font-style: var(--common-body2-medium-font-style);
}

.frame .cards-buttons {
  display: flex;
  flex-direction: column;
  width: 428px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.frame .card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--neutralswhite);
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--neutrals-20);
}

.frame .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame .label-text {
  position: relative;
  flex: 1;
  font-family: var(--common-body2-regular-font-family);
  font-weight: var(--common-body2-regular-font-weight);
  color: var(--neutralsblack);
  font-size: var(--common-body2-regular-font-size);
  letter-spacing: var(--common-body2-regular-letter-spacing);
  line-height: var(--common-body2-regular-line-height);
  font-style: var(--common-body2-regular-font-style);
}

.frame .si-tu-empresa-no {
  position: relative;
  width: 483px;
  height: 121px;
  font-family: "Raleway-Medium", Helvetica;
  font-weight: 500;
  color: var(--gray-1);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 29px;
}

.frame .button-label {
  display: flex;
  width: 176px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--primary50-main);
  border-radius: 100px;
  opacity: 0.3;
}

.frame .text {
  position: relative;
  width: fit-content;
  font-family: var(--common-body1-medium-font-family);
  font-weight: var(--common-body1-medium-font-weight);
  color: var(--neutralswhite);
  font-size: var(--common-body1-medium-font-size);
  letter-spacing: var(--common-body1-medium-letter-spacing);
  line-height: var(--common-body1-medium-line-height);
  white-space: nowrap;
  font-style: var(--common-body1-medium-font-style);
}

.frame .icon-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  position: absolute;
  top: 16px;
  left: 566px;
  border-radius: 100px;
  overflow: hidden;
}
